In [1]:
#### Bibliotecas 
# 
# - pip install pandas 
# - pip install plotly
# - pip install nbformat
# - pip install openpyxl.

In [2]:
#### Instalação do pip no notebook

! pip install pandas

Requirement already satisfied: pandas in c:\users\rael\appdata\local\programs\python\python311\lib\site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\rael\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\rael\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\rael\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\rael\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\rael\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
! pip install openpyxl

Carregamento Excel

In [12]:
import openpyxl
import pandas as pd

estoque = pd.read_excel("Controle de Estoque.xlsx")

In [13]:
estoque.head()

,código do produto,nome do produto,valor do produto,quantidade no estoque,Loja Fisica 01,Loja Fisica 02,Observação
0,1,Pasta Incolor,20.0,68.0,64.0,4.0,Tampa Verde
1,2,Loção pós barba,20.0,32.0,27.0,5.0,NaN
2,3,Shaving gel,25.0,21.0,21.0,0.0,NaN
3,4,Gel cola,10.0,40.0,38.0,2.0,Tampa Verde
4,5,Gel cola,10.0,64.0,55.0,9.0,Tampa Dourada

In [15]:
estoque.tail()

,código do produto,nome do produto,valor do produto,quantidade no estoque,Loja Fisica 01,Loja Fisica 02,Observação
76,78,Escova penteado,NaN,2.0,2.0,NaN,NaN
77,79,Escova degradê,NaN,2.0,2.0,NaN,NaN
78,80,Geleia real,NaN,4.0,4.0,NaN,NaN
79,81,Pomada toque perfeito,NaN,243.0,NaN,NaN,NaN
80,82,NaN,NaN,NaN,NaN,NaN,NaN